<h2>Plugins</h2>

{{outlet}}

<div class="row">
  <div class="span12">

    <style type="text/css">
      table {
        background: ghostwhite;
      }
      table tr td:first-child {
        width: 25%;
      }
    </style>

    <h2 id="plugins">Plugins</h2>

    <p>Origen is powered by a growing library of community maintained plugins, if you own a plugin
that is not listed here
please <a href="https://github.com/Origen-SDK/origen/blob/master/templates/web/plugins.md.erb">submit a pull request</a>
with the necessary update.</p>

    <div>    
      <a class="anchor" name="Origen_Core"></a>          
      <h3><a href="#Origen_Core">Origen Core</a></h3>          
    </div>

    <table class="table">
      <thead>
        <tr>
          <th style="text-align: left">Website</th>
          <th style="text-align: left">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left"><a href="https://github.com/Origen-SDK/origen_app_generators">Origen App Generators</a></td>
          <td style="text-align: left">New application generators, this basically implements the ‘origen new’ command</td>
        </tr>
      </tbody>
    </table>

    <div>    
      <a class="anchor" name="General"></a>          
      <h3><a href="#General">General</a></h3>          
    </div>

    <table class="table">
      <thead>
        <tr>
          <th style="text-align: left">Website</th>
          <th style="text-align: left">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left"><a href="http://origen-sdk.org/doc_helpers/">Documentation Helpers</a></td>
          <td style="text-align: left">Layouts and helpers for common documentation tasks</td>
        </tr>
        <tr>
          <td style="text-align: left"><a href="http://origen-sdk.org/cross_origen/">Cross Origen</a></td>
          <td style="text-align: left">In an ideal world everyone would use Origen but back in reality design IP exists in many different formats. It is the goal of this plugin to provide import and export methods for all common formats e.g. IPXACT, etc.</td>
        </tr>
        <tr>
          <td style="text-align: left"><a href="http://origen-sdk.org/memory_image/">Memory Image</a></td>
          <td style="text-align: left">Provides a standard API for consuming memory image files in any format e.g. s-record, hex</td>
        </tr>
      </tbody>
    </table>

    <div>    
      <a class="anchor" name="Test_Engineering"></a>          
      <h3><a href="#Test_Engineering">Test Engineering</a></h3>          
    </div>

    <div>    
      <a class="anchor" name="Testers"></a>          
      <h4><a href="#Testers">Testers</a></h4>          
    </div>

    <table class="table">
      <thead>
        <tr>
          <th style="text-align: left">Website</th>
          <th style="text-align: left">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left"><a href="http://origen-sdk.org/testers">Testers</a></td>
          <td style="text-align: left">Provides common ATE models/drivers for test pattern and program generation</td>
        </tr>
        <tr>
          <td style="text-align: left"><a href="http://origen-sdk.org/debuggers">Debuggers</a></td>
          <td style="text-align: left">Want to try out your patterns on the bench? Swap your tester model for one of these bench debugger models and you can do just that.</td>
        </tr>
      </tbody>
    </table>

    <div>    
      <a class="anchor" name="Transaction_Protocol_Drivers"></a>          
      <h4><a href="#Transaction_Protocol_Drivers">Transaction Protocol Drivers</a></h4>          
    </div>

    <table class="table">
      <tbody>
        <tr>
          <td><a href="http://origen-sdk.org/nexus">Nexus</a></td>
          <td>Origen driver for the Nexus (IEEE-STO 5001-2003) protocol</td>
        </tr>
        <tr>
          <td><a href="http://origen-sdk.org/arm_debug">ARM Debug</a></td>
          <td>Origen driver for the ARM debug protocol</td>
        </tr>
      </tbody>
    </table>

    <div>    
      <a class="anchor" name="Physical_Pin_Drivers"></a>          
      <h4><a href="#Physical_Pin_Drivers">Physical Pin Drivers</a></h4>          
    </div>

    <table class="table">
      <tbody>
        <tr>
          <td><a href="http://origen-sdk.org/jtag">JTAG</a></td>
          <td>Origen driver for the JTAG protocol</td>
        </tr>
        <tr>
          <td><a href="http://origen-sdk.org/swd">Single Wire Debug</a></td>
          <td>Origen driver for the ARM Single Wire Debug protocol</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
